<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:icon="@drawable/logo" android:label="@string/app_name" android:roundIcon="@drawable/logo" android:supportsRtl="true" android:theme="@style/Theme.Dgaryclientemobile" android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config">

        <activity android:name="com.tuempresa.tuapp.ui.auth.view.WelcomeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tuempresa.tuapp.ui.auth.view.LoginActivity" android:exported="true" />

        <activity android:name="com.tuempresa.tuapp.ui.auth.view.RegisterActivity" android:exported="true" />

        <activity android:name="com.tuempresa.tuapp.MainActivity" android:exported="true" />

        <activity android:name="com.tuempresa.tuapp.ui.home.view.HomeActivity" android:exported="true" />

        <activity android:name="com.tuempresa.tuapp.ui.cupones.view.CuponesActivity" android:exported="true" android:theme="@style/Theme.Dgaryclientemobile.CleanScreen" />

        <activity android:name="com.tuempresa.tuapp.ui.carrito.view.CarritoActivity" android:exported="true" android:theme="@style/Theme.Dgaryclientemobile.CleanScreen" />

        <activity android:name="com.tuempresa.tuapp.ui.account.view.AccountActivity" android:exported="true" android:theme="@style/Theme.Dgaryclientemobile.CleanScreen" />

        <activity android:name="com.tuempresa.tuapp.ui.account.view.SettingsActivity" android:exported="true" android:theme="@style/Theme.Dgaryclientemobile.CleanScreen" />

        <activity android:name="com.tuempresa.tuapp.ui.account.view.EditAccountActivity" android:exported="true" android:theme="@style/Theme.Dgaryclientemobile.CleanScreen" />

        <activity android:name="com.tuempresa.tuapp.ui.account.view.PaymentMethodActivity" android:exported="true" android:theme="@style/Theme.Dgaryclientemobile.CleanScreen" />

        <activity android:name="com.tuempresa.tuapp.ui.order.view.OrderDetailActivity" android:exported="true" android:theme="@style/Theme.Dgaryclientemobile.CleanScreen" />

        <activity android:name="com.tuempresa.tuapp.ui.order.view.LocationSelectionActivity" android:exported="true" android:theme="@style/Theme.Dgaryclientemobile.CleanScreen" />

        <activity android:name="com.tuempresa.tuapp.ui.order.view.OrderTrackingActivity" android:exported="true" android:theme="@style/Theme.Dgaryclientemobile.CleanScreen" />
    </application>

</manifest>